html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 14px;
    outline: 0;
}
/* Header */
header {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}
#topbar_container {
    top: 0;
    width: 100%;
    z-index: 90;
    transition: 0.8s;
}
#topbar {
    background-color: transparent;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
#topbar nav ul {
    width: 100%;
    list-style-type: none;
}
#topbar nav ul li {
    float: left;
}
#topbar nav ul li a {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
}
#topbar nav ul li a:hover {
    color: #008080;
}
header a.active {
    margin: 0;
    background-color: transparent;
}
header #cv-content p {
    font-size: 2.2vw;
    font-style: italic;
    margin: 40px;
}
header a.btn-cv {
    color: white;
    background-color: #008080;
    font-weight: 600;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px 40px;
    text-decoration: none;
}
header a.btn-cv:hover {
    background-color: #00B3B3;
}
.clear {
    clear: both;
}
#list {
    display: none;
    padding: 2%;
    background-color: #2a3d52;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    right: 5%;
}
#hamburger-btn {
    display: none;
}
/* Général */
.allsection {
    padding: 50px 0;
}
.section {
    width: 80%;
    margin: auto;
    font-size: 1.2vw;
}
.section h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4vw;
}
.section strong {
    color: #008080;
}

/* Biographie */
.small_flex {
        display: flex;
        width: 80%;
        margin: 2% auto;
        justify-content: space-between;
}
.small_flex #left {
    width: 35%;
}
    .small_flex_img{
        width: 100%;
    }
    .small_flex_img img{
        width: 100%;
        border-radius: 30%;
    }
    .small_flex_content{
        width: 60%;
        height: fit-content;
        align-self: center;
        text-align: justify;
    }
    .small_flex_content p {
        font-size: calc(4px + 1vw);
    }
    .small_flex h4, .small_flex h5 {
        font-weight: normal;
        margin: 5px 0;
        text-align: center;
    }
    .small_flex h4 {
        font-weight: 600;
        font-size: 1.8vw;
    }
    .small_flex h5 {
        font-weight: 400;
        font-style: italic;
        font-size: 1.4vw;
    }
/* Competence */
#allcomp {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.comp {
    width: 25%;
    text-align: center;
    align-self: center;
}
.comp img {
    width: 40%;
    margin: 25px auto 5px auto;
}
#comp5 img { /* PHP */
    width: 60%;
}
.overlay {
    text-align: center;
    font-weight: 700;
    visibility: hidden;
}

/* Portfolio */
.all_element {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.element {
    width: 30%;
}
.element h4 {
    text-align: center;
    font-size: 1.8vw;
}
.hover-shadow {
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal {
    display: none;
    position: fixed;
    z-index: 91;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 50%;
    max-width: 1200px;
    top: 10%;
}
.close {
    color: white;
    position: absolute;
    right: 3%;
    font-size: 35px;
    font-weight: bold;
    z-index: 99;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.slides {
    display: none;
    position: relative;
}
.slides img {
    width: 100%;
}
.cursor {
    cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
}
.caption-container {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}
.caption-container p{
    text-align: center;
}
.projectLink {
    position: absolute;
    right: 2%;
    bottom: 2%;
}
.projectLink a {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}
/* Contact */
.final_section {
    padding-top: 50px;
}
.last_section {
    color: #eeeeee;
    font-size: 1.2vw;
}
#contact {
    background: black url("../img/contact.jpg") no-repeat center;
}
#contact h2 {
    font-size: 6vw;
    text-align: center;
    padding: 15% 0;
    margin-block-start: 0;
}
#contact_link {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    margin: auto;
}
.iconify_contact {
    width: 6vw;
    height: 6vw;
    color: white;
}
.noMarginBlock {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}
/* Media Queries */
@media (max-width: 970px) {
    nav ul li a {
        padding: 10px 10px!important;
    }
}
@media all and (max-width: 1023px) {
    .overlay {
        visibility: visible;
    }
    #topbar nav {
        visibility: hidden;
    }
    #hamburger-btn {
        display: block;
    }
    #hamburger-menu {
        padding-left: 0;
        margin-top: 20px;
    }
    #hamburger-menu ul {
        background-color: #2a3d52 !important;
    }
    #hamburger-menu li {
        display: block;
        float: none;
        text-align: center;
        padding: 37px 0 15px;
    }
    #hamburger-menu li:first-child {
        padding-top: 15px;
    }
    #hamburger-menu li:hover {
        background-color: #2a3d52;
    }
    #hamburger-menu li a {
        text-transform: capitalize;
        text-decoration: none;
        color: white;
    }
}
@media all and (min-width: 1024px) {
    header {
        height: 100%;
        margin: 0;
        background-image: url("../img/header-bg.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    header #cv-content {
        position: absolute;
        top: 50%;
    }
    #topbar_container {
        position: fixed;
    }
}
@media (min-width: 768px) {
    .allsection{
        padding: 75px 0;
    }
    .final_section {
        padding-top: 75px;
    }
}
@media (max-width: 915px) {
    #topbar nav ul li a {
        padding: 10px 5px!important;
        letter-spacing: 0;
    }
}
